.book-summary ul.summary {
  overflow-y: scroll;
  height: calc(100% - 220px);
  position: absolute;
  width: 300px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sidebar-addition {
  position: fixed;
  height: 150px;
  width: 300px;
  left: 0;
  bottom: 15px;
  background: #fafafa;
  border-top: 1px solid rgba(0,0,0,.07);
  border-right: 1px solid rgba(0,0,0,.07);
  text-align: center;
  display: none;
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.sidebar-addition img {
  max-height: 130px;
  max-width: 180px;
  margin: 5px;
  float: left;
}

.sidebar-addition p {
  line-height: 150%;
  padding: 10px;
  margin: 0 0 10px 0;
}

.sidebar-addition .btn {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: rgba(255,148,0);
  color: rgba(255,255,255);
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100px;
}

.sidebar-addition .btn:hover {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: rgba(181,181,176);
  color: rgba(255,255,255);
  padding: 5px 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  width: 100px;
}


.with-summary .sidebar-addition {
  display: block;
}
